
h1{color: red; height: 50px; background-color:#dedede; text-align:center; }
body{ padding-top: 100px;}
.conteneur{ width: 1000px; margin: 0 auto; border: 1px solid #dedede; padding: 20px;}
select{ width: 50%; height : 50px; margin : 0 auto; display : block;}
table{ width: 100%; border-collapse: collapse; text-align: center;}
td, th{ padding: 10px;}